html{
    scroll-behavior: auto !important;
}

body{
    margin: auto;
    padding: auto;
    color: #fff;
    background-color: black;
    font-family: "Raleway", sans-serif;
  
    
}

/*navbar*/

.navbar {
    background-color: rgb(57, 137, 137);
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.navbar img {
    width: 50px;

}

/*hero-section*/

#hero-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/*quienes somos*/
#quienessomos {
    background-color: black;
    color: aliceblue;
    
}

#quienessomos i{
    background-color: deepskyblue;
    text-align: center;
    width: 400px;
    height: 40px;
}

/*destacado*/
#destacado{
    background-color: black;
    
}

#destacado p {
    background-color: deepskyblue;
   color: aliceblue;
}

/*cards*/
#destacado .card-body {
    background-color: deepskyblue;
    
}

/*footer*/

#footer {
    background-color: deepskyblue;
    
}

#footer a{
    color: #fff;
    text-decoration: none;
}