body{
    margin: auto;
    padding: auto;
    background-color: rgb(57, 137, 137);
    background-color: ;
}

/*navbar*/

.navbar {
    background-color: rgb(57, 137, 137);
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.navbar img {
    width: 50px;

}

/*hero-section*/

#hero-section {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 100%;
    bottom: 45px;
    position: relative;
    margin: auto;
}

