body{
    margin: auto;
    padding: auto;
    background-color: rgb(57, 137, 137);
    background-color: ;
}

/*navbar*/

.navbar {
    background-color: rgb(57, 137, 137);
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.navbar img {
    width: 50px;

}

/*hero-section*/

#hero-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#quienessomos {
    background-color: black;
    color: aliceblue;
    
}

#quienessomos i{
    background-color: deepskyblue;
    text-align: center;
    size: 200px;
    width: 400px;
}